[submodule "spec/integration_specs/document_alamofire/before"]
	path = spec/integration_specs/document_alamofire/before
	url = https://github.com/Alamofire/Alamofire
[submodule "spec/integration_specs/document_moya_podspec/before"]
	path = spec/integration_specs/document_moya_podspec/before
	url = https://github.com/ashfurrow/Moya.git
