{{#deprecation_message}}
<div class="aside aside-deprecated">
  <p class="aside-title">Deprecated</p>
  {{{deprecation_message}}}
</div>
{{/deprecation_message}}
{{#unavailable_message}}
<div class="aside aside-unavailable">
  <p class="aside-title">Unavailable</p>
  {{{unavailable_message}}}
</div>
{{/unavailable_message}}
