{{#tasks.count}}
<section class="section">
  <div class="section-content">
    {{#tasks}}
    {{> task}}
    {{/tasks}}

    {{#subsections}}
      {{> subsection}}
    {{/subsections}}
  </div>
</section>
{{/tasks.count}}
