/* Credit to https://github.com/magnetikonline/ghmarkdownrender */
.highlight .bp {
  color: #999999; }
.highlight .c1, .highlight .cm {
  color: #999988;
  font-style: italic; }
.highlight .cp {
  color: #999999;
  font-weight: bold; }
.highlight .cs {
  color: #999999;
  font-weight: bold;
  font-style: italic; }
.highlight .c {
  color: #999988;
  font-style: italic; }
.highlight .err {
  color: #a61717;
  background: #e3d2d2; }
.highlight .gc {
  color: #999;
  background: #eaf2f5; }
.highlight .gd {
  color: #000000;
  background: #ffdddd; }
  .highlight .gd .x {
    color: #000000;
    background: #ffaaaa; }
.highlight .ge {
  font-style: italic; }
.highlight .gh {
  color: #999999; }
.highlight .gi {
  color: #000000;
  background: #ddffdd; }
  .highlight .gi .x {
    color: #000000;
    background: #aaffaa; }
.highlight .go {
  color: #888888; }
.highlight .gp {
  color: #555555; }
.highlight .gr {
  color: #aa0000; }
.highlight .gs {
  font-weight: bold; }
.highlight .gt {
  color: #aa0000; }
.highlight .gu {
  color: #800080;
  font-weight: bold; }
.highlight .il {
  color: #009999; }
.highlight .kc, .highlight .kd, .highlight .kn, .highlight .kp, .highlight .kr {
  font-weight: bold; }
.highlight .kt {
  color: #445588;
  font-weight: bold; }
.highlight .k {
  font-weight: bold; }
.highlight .mf, .highlight .mh, .highlight .mi, .highlight .mo, .highlight .m {
  color: #009999; }
.highlight .na {
  color: #008080; }
.highlight .nb {
  color: #0086b3; }
.highlight .nc {
  color: #445588;
  font-weight: bold; }
.highlight .ne, .highlight .nf {
  color: #990000;
  font-weight: bold; }
.highlight .ni {
  color: #800080; }
.highlight .nn {
  color: #555555; }
.highlight .no {
  color: #008080; }
.highlight .nt {
  color: #000080; }
.highlight .nv {
  color: #008080; }
.highlight .n {
  color: #333333; }
.highlight .ow, .highlight .o {
  font-weight: bold; }
.highlight .s1, .highlight .s2, .highlight .sb, .highlight .sc, .highlight .sd, .highlight .se, .highlight .sh, .highlight .si {
  color: #d14; }
.highlight .sr {
  color: #009926; }
.highlight .ss {
  color: #990073; }
.highlight .sx, .highlight .s {
  color: #d14; }
.highlight .vc, .highlight .vg, .highlight .vi {
  color: #008080; }
.highlight .w {
  color: #bbbbbb; }
