html, body, div, span, h1, h3, h4, p, a, code, em, img, ul, li, table, tbody, tr, td {
  background: transparent;
  border: 0;
  font-size: 100%;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}

#reference .x-instance-method.Swift {
  margin-left: 15px;
}

#reference .chapter {
  overflow-x: hidden;
  border-top: 0;
  border-left: 1px solid rgba(233, 233, 233, 1);
  border-right: 1px solid rgba(233, 233, 233, 1);
  border-bottom: 1px solid rgba(233, 233, 233, 1);
}

#reference .nav-chapters {
  height: 100%;
}

#reference .part-name {
  color: #000;
  cursor: default;
  padding: 15px 15px 15px 20px;
  min-height: 61px;
}

#reference .part-name.tasks {
  background: #fff;
  overflow: auto;
}

#reference .book-parts a {
  display: initial;
  margin-left: 0;
}

#reference .nav-chapters li {
  color: rgba(128, 128, 128, 1);
  margin-left: 12px;
  padding-left: 10px;
  text-indent: -10px;
}

#reference .chapter-name {
  margin-top: 21px;
}

.rubber-band-gap {
  background: #fff;
  height: 250px;
  position: fixed;
  width: 734px;
  z-index: -1;
  top: 70px;
  margin: 0 0 0 247px;
}

#reference .task-name-container {
  background: #fff;
  left: -25px;
  margin-bottom: 0;
  padding: 35px 25px 0;
  position: relative;
  width: 100%;
}

#reference .section-name {
  cursor: pointer;
  display: inline-block;
}

#reference .section .section {
  margin-top: 0;
}

#reference .task-group-section {
  padding: 1px 25px 0;
}

#reference .symbol {
  background: #fff;
  left: -25px;
  list-style-type: none;
  padding: 13px 25px 0;
  position: relative;
  width: 100%;
}

#reference .task-group-term {
  font-size: 1.4em;
  word-break: break-all;
}

#reference .task-group-term>code {
  display: inline-block;
}

#reference .pointy-thing-container {
  background: #fff;
  border-bottom: 1px solid rgba(233, 233, 233, 1);
  left: -25px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 13px;
  position: relative;
  width: 100%;
}

#reference .pointy-thing {
  background: rgba(249, 249, 249, 1);
  border-left: 1px solid rgba(233, 233, 233, 1);
  border-top: 1px solid rgba(233, 233, 233, 1);
  height: 12px;
  left: 21px;
  top: -7px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  width: 12px;
}

#reference .height-container {
  display: none;
  left: -25px;
  padding: 0 25px;
  position: relative;
  width: 100%;
  overflow: hidden;
}

#reference .height-container .section {
  background: rgba(249, 249, 249, 1);
  border-bottom: 1px solid rgba(233, 233, 233, 1);
  left: -25px;
  margin: 0;
  padding: 13px 25px 0;
  position: relative;
  width: 100%;
}

#reference .height-container .section h4 {
  font-size: 13px;
  line-height: 1.5;
  margin-top: 21px;
}

#reference .section .declaration {
  margin-top: 21px;
}

#reference .section .declaration code {
  color: rgba(128, 128, 128, 1);
  margin-bottom: 15px;
  padding-bottom: 6px;
}

#reference .declaration div .para {
  margin-bottom: 0;
}

#reference .task-group .item .graybox {
  margin: 5px 0 26px;
}

#reference .symbol .graybox .para:last-of-type {
  margin-bottom: 0;
  padding-bottom: 0;
}

#reference .parameters .graybox tr td:first-of-type {
  text-align: right;
  padding: 7px;
  vertical-align: top;
  word-break: normal;
  width: 40px;
}

#reference em.term,
#reference em.parameter-name {
  color: rgba(65, 65, 65, 1);
  font-size: 12px;
  line-height: 1.5;
}

#reference .height-container .section>div:last-of-type {
  margin-bottom: 15px;
}

#reference #footer {
  width: 614px;
  z-index: 1;
}

#reference .item .para {
  padding-bottom: 0;
  margin: 0 0 15px;
}

#reference a[name] {
  padding-top: 112px;
  margin: -112px 0 0;
}

#reference .height-container td {
  max-width: inherit;
}

#reference .declaration .n a {
  color: inherit;
}

#reference .declaration .n a:hover {
  border-bottom: 1px solid;
}

#reference .copyright {
  margin: 10px 0;
}

.nav-chapters {
  font-weight: 400;
  line-height: 110%;
  list-style-position: outside;
  list-style-type: none;
  margin: 0;
  padding: 8px 0 0;
  height: 100%;
  width: 200px;
  position: relative;
  top: 15px;
}

body {
  background-color: rgba(242, 242, 242, 1);
  color: #000;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 62.5%;
  margin: 0 auto;
  -webkit-font-smoothing: subpixel-antialiased;
}

a[name] {
  display: block;
  padding-top: 85px;
  margin: -85px 0 0;
  width: 0;
  height: 0;
}

.content-wrapper {
  background-color: rgba(242, 242, 242, 1);
  margin: 0 auto;
  width: 980px;
}

.pixel-line {
  background: rgba(233, 233, 233, 1);
  height: 1px;
  position: fixed;
  top: 70px;
  width: 734px;
  z-index: 3;
  top: 70px;
  margin: 0 0 0 247px;
}

.chapter {
  background-color: #fff;
  border: 1px solid rgba(233, 233, 233, 1);
  border-top: 0;
  box-shadow: 0 0 1px rgba(0, 0, 0, .07);
  display: block;
  margin-left: 246px;
  min-height: calc(100% - 173px);
  min-height: -moz-calc(100% - 173px);
  min-height: -webkit-calc(100% - 173px);
  min-height: -o-calc(100% - 173px);
  position: absolute;
  overflow: auto;
  padding-bottom: 100px;
  top: 70px;
  -webkit-overflow-scrolling: touch;
  width: 734px;
}

#hierarchial_navigation {
  float: left;
  font-size: 1.4em;
  margin-top: 29px;
  vertical-align: middle;
}

.section {
  padding: 15px 25px 0px;
}

.section .section {
  margin: 30px 0 0;
  padding: 0;
}

header {
  background-color: rgba(65, 65, 65, 1);
  box-shadow: 0 1px 1px rgba(0, 0, 0, .07);
  color: #fff;
  height: 25px;
  letter-spacing: .05em;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 4;
}

.header-text {
  font-size: 1.1em;
  margin: 0 auto;
  padding-top: 6px;
  vertical-align: middle;
  float: left;
}

.header-text a {
  color: #fff;
  text-decoration: none;
}

#header-icon {
  padding-right: 8px;
  vertical-align: -3px;
}

#header-links a {
  float: right;
  padding-top: 4px;
  padding-left: 16px;
  font-size: 1.1em;
  vertical-align: middle;
  margin: 0 auto;
  color: #fff;
  text-decoration: none;
}

#valence {
  background-color: rgba(242, 242, 242, 1);
  display: block;
  height: 60px;
  padding-top: 10px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
}

#carat {
  margin: 0 10px;
}

#design_resources_link {
  color: rgba(0, 136, 204, 1);
  text-decoration: none;
}

.para {
  color: rgba(65, 65, 65, 1);
  font-size: 1.4em;
  line-height: 145%;
  margin-bottom: 15px;
}

.chapter-name {
  color: rgba(0, 0, 0, 1);
  display: block;
  font-family: Helvetica;
  font-size: 2.8em;
  font-weight: 100;
  margin-bottom: 0;
  padding: 15px 25px;
  width: 63%;
  margin-top: 21px;
}

.chapter a {
  color: rgba(0, 136, 204, 1);
  text-decoration: none;
}

h3.section-name:before {
  display: block;
  content: " ";
  margin-top: -85px;
  height: 85px;
  visibility: hidden;
}

.section-name {
  color: rgba(128, 128, 128, 1);
  display: block;
  font-family: Helvetica;
  font-size: 2.2em;
  font-weight: 100;
  margin-bottom: 15px;
}

.copyright {
  clear: both;
  color: rgba(160, 160, 160, 1);
  float: none;
  margin: 70px 25px 10px 0;
}

.link {
  color: rgba(0, 136, 204, 1);
  text-decoration: none;
}

.item p {
  margin: 0;
  padding-bottom: 6px;
}

.book-parts {
  background-color: rgba(249, 249, 249, 1);
  border-top: 1px solid rgba(233, 233, 233, 1);
  border-left: 1px solid rgba(233, 233, 233, 1);
  border-right: 1px solid rgba(233, 233, 233, 1);
  bottom: 0;
  box-shadow: 0 0 1px rgba(0, 0, 0, .07);
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  position: fixed;
  top: 70px;
  width: 230px;
}

.nav-parts {
  color: rgba(128, 128, 128, 1);
  font-weight: 100;
  line-height: 140%;
  list-style-type: none;
  margin: 0;
  -webkit-padding-start: 0;
}

.part-name {
  border-bottom: 1px solid rgba(233, 233, 233, 1);
  font-family: Helvetica;
  font-size: 1.6em;
  line-height: 150%;
  list-style-type: none;
  margin: 0;
  padding: 15px 30px 15px 20px;
  cursor: pointer;
}

.nav-chapters {
  font-weight: 400;
  line-height: 110%;
  list-style-position: outside;
  list-style-type: none;
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
  height: 0;
  overflow: hidden;
  -webkit-transition: height .3s ease-in-out;
  -moz-transition: height .3s ease-in-out;
  -o-transition: height .3s ease-in-out;
  -ms-transition: height .3s ease-in-out;
  transition: height .3s ease-in-out;
}

.nav-chapter {
  font-size: .8em;
  list-style-position: outside;
  list-style-type: none;
  margin: 0;
  padding: 0 0 8px;
}

.nav-chapters .nav-chapter {
  margin-left: 0;
}

.book-parts a {
  color: rgba(128, 128, 128, 1);
  display: block;
  text-decoration: none;
  margin-left: 24px;
}

.aside-title {
  color: rgba(128, 128, 128, 1);
  font-size: 9px;
  letter-spacing: 2px;
  margin-bottom: 8px;
  text-transform: uppercase;
}

div.Swift {
  padding: 4px 0 2px 10px;
  margin: 10px 0 21px;
}

div.Swift {
  border-left: 5px solid rgba(205, 233, 244, 1);
}

div.Swift .aside-title {
  color: rgba(75, 138, 251, 1);
  -webkit-user-select: none;
}

#footer {
  font-size: 1.1em;
  bottom: 0;
  color: rgba(0, 136, 204, 1);
  margin: 0 25px;
  position: absolute;
  width: 684px;
}

.graybox {
  border: 1px solid rgba(233, 233, 233, 1);
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: hide;
  margin: 20px 0 36px;
  text-align: left;
  width: 100%;
}

.graybox p {
  margin: 0;
  word-break: break-word;
  min-width: 50px;
}

td {
  border: 1px solid rgba(233, 233, 233, 1);
  padding: 5px 25px 5px 10px;
  margin: 0;
  vertical-align: middle;
  max-width: 260px;
}

#reference .rubber-band-gap {
  background: #fff;
  height: 250px;
  position: fixed;
  width: 734px;
  z-index: -1;
}

.readme {
  font-size: 12pt;
  font-family: Helvetica;
  color: rgba(65, 65, 65, 1);
  line-height: 145%;
}

.readme blockquote {
  color: rgba(165, 165, 165, 1);
  border-left: 4px solid #ddd;
  padding: 0 1em;
  margin-left: 0;
}

.readme ol, ul {
  padding-left: 1.5em;
}

.readme p {
  margin-bottom: 15px;
}

.readme h1 {
  font-size: 175%;
  margin-bottom: 2em;
}

.readme h3 {
  font-size: 125%;
  margin-bottom: 1em;
}

.readme pre {
  overflow: scroll;
  padding: 1.125em;
}

.readme pre, code {
  background-color: #ebebeb;
}

.readme hr {
  background-color: #ccc;
  border: 0;
  height: 4px;
  padding: 0;
}
