<header>
  <div class="content-wrapper">
    <p>
      <a href="{{path_to_root}}index.html">{{docs_title}}</a>
      <span class="no-mobile">{{#doc_coverage}} ({{doc_coverage}}% documented){{/doc_coverage}}</span>
    </p>

    {{#source_host_url}}
    <p class="header-right">
      <a href="{{.}}">
        <img src="{{path_to_root}}img/{{source_host_image}}" alt="{{source_host_name}}"/>
        <span class="no-mobile">View on {{source_host_name}}</span>
      </a>
    </p>
    {{/source_host_url}}

    {{#dash_url}}
    <p class="header-right">
      <a href="{{dash_url}}">
        <img src="{{path_to_root}}img/dash.png" alt="Dash"/>
        <span class="no-mobile">Install in Dash</span>
      </a>
    </p>
    {{/dash_url}}
  </div>
</header>
