<nav class="nav-bottom">
  <ul class="nav-groups">
    {{#structure}}
    <li class="nav-group-name">
      <a href="{{path_to_root}}{{url}}">{{section}}</a>
      {{> nav_section}}
    </li>
    {{/structure}}
  </ul>
</nav>
