<li class="item symbol">
  <div class="task-group-term">
    <code class="code-voice">
      <a name="{{declaration.objc}}"></a><a name="{{usr}}"></a><a name="{{declaration.swift}}"></a>
      <a class="x-api-property-task-list Swift" href="#{{declaration.swift}}" title="{{abstract}}">{{name.swift}}</a>
      <a class="x-api-property-task-list Objective-C" href="#{{declaration.objc}}" title="{{abstract}}">{{name.objc}}</a>
    </code>
  </div>
  <div class="height-container">
    <div class="pointy-thing-container"></div>
    <section class="section property-obj-c">
      <div class="pointy-thing"></div>
      <div class="abstract">
        {{{rendered_abstract}}}
      </div>
      <div class="declaration">
        <h4>Declaration</h4>
        <div class="Swift">
          <p class="aside-title">Swift</p>
          <p class="para">
            <code class="code-voice">
              {{declaration.swift}}
            </code>
          </p>
        </div>
        <div class="Objective-C">
          <p class="aside-title">Objective-C</p>
          <p class="para">
            <code class="code-voice">
              {{declaration.objc}}
            </code>
          </p>
        </div>
      </div>
      <div class="discussion">
        <h4>Discussion</h4>
        {{{rendered_discussion}}}
      </div>
    </section>
  </div>
</li>